### Markdown Basics

* **Bold** <br>
* *Itallic* <br>
* ***IB***
* Normal Text
  * Sublist 1
  * Sublist 2
  
  
>1. Ordered list element 1
>2. Ordered list element 2


http://google.com/          "Google"
http://search.yahoo.com/    "Yahoo Search"


`printf("Hello Markdown")`

<https://google.com>

<address@example.com>


![Jupyter Logo](jupyterLogo.png)

<img src="jupyterLogo.png" style="float:left">

        *Python Basics
        
        *Python version 3.7
        
        *Scripting

# Python Comments
    
print("Good Afternoon !") # Basic output
print("Hello Python")

In [12]:
# Python Comments
    
print("Good Afternoon", "!", end="||") # Basic output
print("Hello Python")

Good Afternoon !||Hello Python

* Assignment

In [19]:
n1 =123456 # Single Variable Assignment

n2 = n3 = n4 = n1 # Multi Variable Assignment of the same variable

a, b, c = 123, 234, 345 #Multi Variable Assignment with different values


print(a, b, c)

123 234 345

### Data Types &Conversion

* int
* float
* string

In [55]:
type(a)
s1 = "Pyton"
type(s1)

f1 = 12.345
type(f1)

float(str(int(f1)))

12.0

### Arithmetic Operations
* +
* -
* *
* /
* %
*  **

In [56]:
n1 % 11

n3 = n2 ** 12

type(n3)
len(str(n3))

atoms = 10 ** 82
len(str(atoms))
type(str(atoms))

122321 ** 9

6130687873308026945890176790042303730066739281

### Conditionals

In [59]:
if atoms < 10 ** 9:
    print("TRUE")
else:
    print("FALSE")

FALSE

In [61]:
#Check if a number is Even

n = 123
if n % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

In [62]:
# Find the greatest of 3 numbers

n1 = input("enter the first number")
n2 = input("enter the second number")
n3 = input("enter the third number")

if n1 > n2 and n1 > n3:
    print(n1,"is the greatest")
elif n2 > n3:
    print(n2, "is the greatest")
else:
    print(n3,"is the greatest")

enter the first number231
enter the second number456
enter the third number123
456 is the greatest

In [1]:
type(12)

int

In [2]:
type(23.5)

float

In [3]:
type('python')

str

In [4]:
type(True)

bool

In [5]:
print(type)

<class 'type'>

In [11]:
a = 12
print(a,type(a))

12 <class 'int'>

In [13]:
a = 12
print(a,type(a))

12 <class 'int'>

In [14]:
a = "hello"
print(a,type(a))

hello <class 'str'>

In [15]:
print(a,type(a))

hello <class 'str'>

In [16]:
a = "bhavani"
b = "mohan"
print(a,b)

bhavani mohan

In [17]:
2 % 0

ZeroDivisionError: integer division or modulo by zero

In [18]:
2 & 3

2

In [19]:
2 | 3

3

In [20]:
3 and 6

6

In [21]:
2 or 5

2

In [26]:
print(2 and 7)
print(4 and 5)
print(3 and 6)
print(-8 and -7)
print(2 and 7==7)
print(-2 and -5)

7
5
6
-7
True
-5

In [25]:
True + True

2

In [27]:
print(2 or 7)
print(4 or 5)
print(3 or 6)
print(-8 or -7)
print(2 or 7==7)
print(-2 or -5)

2
4
3
-8
2
-2

In [28]:
"g"*3

'ggg'

In [29]:
if 0:
    print("zero")
else:
    print("not a zero")

not a zero

In [ ]:
i=1
while 1:
    print(i)
    i =i+1